body{
  background-color: #212121;
  color: white;
  
}

button{
  width: 350px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  display: block
}
a:visited{
  color: black;
}
a:link{
  color: black;
  text-decoration: solid;
}

div{
  display: grid;

  justify-content: center;
}

.main-title{
  justify-self: center;
}